<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div style="padding-left: 94%">
                <a href="#"  title="Add New Asset" style="color: #003d79;"><i style="font-size: 2.5rem;" class="material-icons">add_box</i></a>
            </div>
        </div>
        <div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
            <data-table id="persons-grid" headerTitle="Asset" [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)" (rowClick)="rowClick($event)" (rowDoubleClick)="rowDoubleClick($event)" [rowTooltip]="rowTooltip">
                <data-table-column [property]="'assetName'" [header]="'Name'" [sortable]="true" [resizable]="true">
                </data-table-column>
                <data-table-column [property]="'assetTypeDes'" [header]="'Type'" [sortable]="true">
                </data-table-column>
  
                <data-table-column [property]="'assetDescription'" [header]="'AssetDescription'" [sortable]="true">
              </data-table-column>
          
            <data-table-column [property]="'jobTitle'" [header]="'Job title'" [visible]="false">
                </data-table-column>
                <!-- <data-table-column [property]="'active'" [header]="'Active'" [width]="100" [resizable]="true">
                    <ng-template #dataTableHeader let-item="item">
                        <span style="color: rgb(232, 0, 0)">Active</span>
                    </ng-template>
                    <ng-template #dataTableCell let-item="item">
                        <span style="color: grey">
                                <span class="glyphicon glyphicon-ok" *ngIf="item.active"></span>
                        <span class="glyphicon glyphicon-remove" *ngIf="!item.active"></span>
                        </span>
                    </ng-template>
                </data-table-column> -->
                <data-table-column header="Actions">
                    <ng-template #dataTableHeader let-item="item">
                        <span style="cursor: pointer; color:#003d79; font-weight: 400;">Actions</span>
                    </ng-template>
                    <ng-template #dataTableCell let-item="item">
                        <a class="btn " style="background-color: #003d79;" href="#" (click)="editCustomer(item)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <a class="btn btn-danger" href="#" (click)="deleteCustomer(item)">
                            <i class="fa fa-trash-o fa-lg"></i> </a>
                    </ng-template>
                </data-table-column>
  
            </data-table>
        </div>
  
    </div>
  </div>