<div class="main-content" style="margin-top:-20px">
    <div class="container-fluid">
        <div class="row">
            <div style="padding-left: 94%">
                <div>
                    <a id="cityAddButton" (click)="addComponent()" title=" Add New City " style="color: #003d79; "><i style="font-size: 2.5rem; " class="material-icons" (click)="showHideCityAddButton()"><span style="cursor:pointer">add_box</span></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div #parent></div>
        </div>
        <div style="padding-bottom: 20px"></div>
        <div class="accordianPage">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title style="color: #003d79;">
                            City Filter
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-md-4"><label for="serialNo">City Name</label>
                            <input type="text" [(ngModel)]="cityFilter.name" class="form-control" id="name" placeholder="Enter City Name">
                        </div>
                        <div class="col-md-4"><label for="customerName">City Code</label>
                            <input type="text" [(ngModel)]="cityFilter.cityCode" class="form-control" id="name" placeholder="Enter City Code">
                        </div>

                        <div class="col-md-4" id="div">
                            <button mat-button (click)="getFilter(cityFilter)"><span style="text-align-last: left" >Apply</span></button>
                        </div>
                    </div>
                    <!-- <mat-action-row>
                        <button mat-button (click)="getFilter(cityFilter)">Apply</button>
                    </mat-action-row> -->
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div style="margin: auto; max-width: 1000px; margin-bottom: 50px; " *ngIf="isShowCityTableView">
            <data-table id="persons-grid " headerTitle=" " [items]="cityDto" [itemCount]="itemCount " (reload)="reloadItems($event) " (rowClick)="rowClick($event) " (rowDoubleClick)="rowDoubleClick($event) " [rowTooltip]="rowTooltip " [indexColumn]="false ">

                <data-table-column [property]=" 'cityName' " [header]=" 'Name' " [sortable]="true " [resizable]="true ">

                </data-table-column>

                <data-table-column [property]=" 'code' " header="Code " [sortable]="true " [resizable]="true ">
                </data-table-column>
                <data-table-column [property]=" 'state' " header="State " [sortable]="true " [resizable]="true ">
                </data-table-column>
                <data-table-column [property]=" 'status' " header="Status " [sortable]="true " [resizable]="true ">
                </data-table-column>


            </data-table>
        </div>



        <div>
            <mat-card *ngIf="showCityCard ">

                <mat-card-header>

                    <mat-card-title class="customLabel ">

                        <div style="right: 0;position: absolute; ">
                            <i *ngIf="!isEditable " class="material-icons " style="margin-left : 60px; color: #003d79; cursor: pointer " (click)="EditClicked() ">
                                                                edit
                                                            </i>

                            <i class="material-icons " style="color: red;cursor: pointer " (click)="onClickCloseDetailsForm() ">
                                                                close
                                                            </i>
                        </div>
                        CityDetails:
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row ">
                        <div class="col-4 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <label class="customLabel ">Name</label>

                                </div>
                                <div class="col-1 ">:</div>
                                <div class="col-6 " style="white-space: wrap; ">
                                    <div *ngIf="isEdit==0 ">
                                        <span>{{cityDetails?.cityName}}</span>
                                    </div>
                                    <div *ngIf="isEdit==1 ">
                                        <input [(ngModel)]="selectedcity.cityName " type="text " class="form-control " id="cityname " placeholder="Enter City Name ">
                                    </div>

                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-4 ">
                                    <label class="customLabel " style="padding-top:8px ">Code</label>

                                </div>
                                <div class="col-1 " style="padding-top:8px ">:</div>
                                <div class="col-6 " style="white-space:wrap;padding-bottom:5px ">
                                    <div *ngIf="isEdit==0 ">
                                        <span>{{cityDetails?.code}}</span>
                                    </div>
                                    <div *ngIf="isEdit==1 ">
                                        <input [(ngModel)]="selectedcity.code " type="text " class="form-control " id="citycode " placeholder="Enter City Code " style="margin-bottom: 7px; ">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-4 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <label class="customLabel ">Status</label>
                                </div>
                                <div class="col-1 ">:</div>
                                <div class="col-6 " style="white-space: wrap; ">

                                    <div *ngIf="isEdit==0 ">
                                        <span>{{cityDetails?.status}}</span>
                                    </div>
                                    <div *ngIf="isEdit==1 ">
                                        <ngx-select-dropdown [config]="config " [options]="cityStatus " [(value)]="selectedcity.status " [multiple]="false "></ngx-select-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-4 ">
                                    <label class="customLabel ">State</label>
                                </div>
                                <div class="col-1 ">:</div>
                                <div class="col-6 " style="white-space: wrap; ">
                                    <span>{{cityDetails?.state}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <button type=" button " style="margin-left: 890px " (click)="updateClicked() " class="btn btn-sm btn-success "> Update </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<style>
    .form-control {
        background-image: none;
    }
</style>