<div class="main-content" style="margin-top:-20px">
    <div class="container-fluid">
        <div class="row">
            <div style="padding-left: 94%">
                <!-- <a class="btn btn-success" href="#" (click)="addnewCustomer()">
                    <i class="fa fa-plus-circle" aria-hidden="true">Add new Customer</i></a> -->

                <!-- <button type="button" id="showaddformvalue" class="btn btn-info add-new" (click)="showAddCityForm()" style="margin-left:-119px"><i class="fa fa-plus"></i> Add New City</button> -->


                <nav>
                    <a routerLink="/add-citymanagement" routerLinkActive="active" title="Add New City" style="color: #003d79;"><i style="font-size: 2.5rem;" class="material-icons">add_box</i></a>
                    <!-- <a *ngIf="!isadd" (click)="addclicked(1)" title="Add New City" style="color: #003d79;"><i style="font-size: 2.5rem;" class="material-icons">add_box</i></a> -->
                    <!-- <a *ngIf="isadd" (click)="addclicked(0)" title="Add New City" style="color: #003d79;"><i style="font-size: 2.5rem;" class="material-icons">keyboard_backspace</i></a> -->
                </nav>


            </div>
        </div>


        <div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
            <data-table id="persons-grid" headerTitle="" [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)" (rowClick)="rowClick($event)" (rowDoubleClick)="rowDoubleClick($event)" [rowTooltip]="rowTooltip" [indexColumn]="false">
                <!-- <data-table-column [property]="'idCity'" [header]="'Id'" [sortable]="true" [resizable]="true">
                </data-table-column> -->
                <data-table-column [property]="'cityName'" [header]="'Name'" [sortable]="true" [resizable]="true">

                </data-table-column>

                <data-table-column [property]="'cityCode'" header="Code" [sortable]="true" [resizable]="true">
                </data-table-column>
                <data-table-column [property]="'cityState'" header="State" [sortable]="true" [resizable]="true">
                </data-table-column>
                <data-table-column [property]="'statusBean'" header="Status" [sortable]="true" [resizable]="true">
                </data-table-column>


            </data-table>
        </div>



        <div>
            <mat-card *ngIf="showCityCard">

                <mat-card-header>

                    <mat-card-title class="customLabel ">

                        <div style="right: 0;position: absolute;">
                            <i *ngIf="!isEditable" class="material-icons" style="margin-left : 60px; color: #003d79; cursor: pointer" (click)="EditClicked() ">
                                                                edit
                                                            </i>

                            <i class="material-icons " style="color: red;cursor: pointer " (click)="onClickCloseDetailsForm() ">
                                                                close
                                                            </i>
                        </div>
                        CityDetails:
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row ">
                        <div class="col-4 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <label class="customLabel ">Id</label>

                                </div>
                                <div class="col-1 ">:</div>
                                <div class="col-6 " style="white-space: wrap; ">
                                    <div *ngIf="isEdit==0 ">
                                        <span>{{cityDetails?.idCity}}</span>
                                    </div>
                                    <div *ngIf="isEdit==1 ">
                                        <input [(ngModel)]="selectedcity.idCity " type="text " class="form-control " id="cityname " placeholder="Enter City Name " readonly>
                                    </div>
                                    <!-- <span ng-if="!ticketDetails.adhaarDetails.postoffice ">--</span> -->
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-4 ">
                                    <label class="customLabel " style="padding-top:8px">Name</label>

                                </div>
                                <div class="col-1 " style="padding-top:8px">:</div>
                                <div class="col-6 " style="white-space:wrap;padding-bottom:5px">
                                    <div *ngIf="isEdit==0 ">
                                        <span>{{cityDetails?.cityName}}</span>
                                    </div>
                                    <div *ngIf="isEdit==1 ">
                                        <input [(ngModel)]="selectedcity.cityName " type="text " class="form-control " id="cityname " placeholder="Enter City Name " style="margin-bottom: 7px;">
                                    </div>

                                    <!-- <span ng-if="!ticketDetails.adhaarDetails.postoffice ">--</span>  -->


                                </div>
                            </div>

                        </div>
                        <div class="col-4 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <label class="customLabel ">Status</label>

                                </div>
                                <div class="col-1 ">:</div>
                                <div class="col-6 " style="white-space: wrap; ">

                                    <div *ngIf="isEdit==0 ">
                                        <span>{{cityDetails?.statusBean}}</span>
                                    </div>
                                    <div *ngIf="isEdit==1 ">
                                        <!-- <input [(ngModel)]="cityDetails.statusBean " type="text " class="form-control " id="cityname " placeholder="Enter City Name "> -->
                                        <ngx-select-dropdown [config]="config " [options]="cityStatus " [(value)]="selectedcity.cityStatus " [multiple]="false"></ngx-select-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-4 ">
                                    <label class="customLabel ">State</label>

                                </div>
                                <div class="col-1 ">:</div>
                                <div class="col-6 " style="white-space: wrap; ">
                                    <span>{{cityDetails?.cityState}}</span>
                                    <!-- <span ng-if="!ticketDetails.adhaarDetails.postoffice ">--</span> -->
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- <div class="row ">
                        <button type=" button " (click)="EditClicked() " class="btn btn-sm btn-success "> Edit </button>
                    </div> -->


                    <div class="row ">
                        <button type=" button " style="margin-left: 890px" (click)="updateClicked() " class="btn btn-sm btn-success "> Update </button>
                    </div>


                </mat-card-content>




            </mat-card>

        </div>





    </div>




</div>

<style>
    .form-control {
        background-image: none;
    }
</style>