<div class="main-content" style="margin-top:35px">
    <div class="container-fluid">
        <div class="row">
            <div style="padding-left: 94%">
                <a href="#" (click)="addnewCustomer()" title="Add New Customer"><i style="font-size: 2.5rem;" class="material-icons">add_box</i></a>
            </div>
        </div>
        <div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
            <data-table id="customer-grid" headerTitle="CUSTOMER MANAGEMENT" [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)" (rowClick)="rowClick($event)" (rowDoubleClick)="rowDoubleClick($event)" [rowTooltip]="rowTooltip">
                <data-table-column [property]="'firstName'" [header]="'First-Name'" [sortable]="true" [resizable]="true">
                </data-table-column>
                <data-table-column [property]="'lastName'" [header]="'Last-Name'" [sortable]="true" [resizable]="true">
                </data-table-column>
                <data-table-column [property]="'mobileNumber'" header="Phone-Number" [sortable]="true" [resizable]="true">
                </data-table-column>
                <data-table-column header="Actions">
                    <ng-template #dataTableHeader let-item="item">
                        <span style="cursor: pointer; color: #007bff; font-weight: 400;">Actions</span>
                    </ng-template>
                    <ng-template #dataTableCell let-item="item">
                        <a class="btn btn-warning" href="#" (click)="editCustomer(item)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <a class="btn btn-danger" href="#" (click)="deleteCustomer(item)">
                            <i class="fa fa-trash-o fa-lg"></i> </a>
                    </ng-template>
                </data-table-column>

            </data-table>
        </div>

    </div>
</div>