<div class="main-content" style="margin-top:-20px">
    <div class="container-fluid">
        <div class="row">
            <div style="padding-left: 94%">
                <div>
                    <a id="addButtonForArea" (click)="addComponent()" title=" Add New Area " style="color: #003d79; "><i style="font-size: 2.5rem; " class="material-icons" (click)="showHideAddButtonForArea()"><span style="cursor:pointer" >add_box</span></i></a>
                </div>
            </div>
        </div>


        <div class="row">
            <div #parent></div>
        </div>
        <div style="padding-bottom: 20px"></div>
        <div class="accordianPage">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title style="color: #003d79;">
                            Area Filter
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-md-4"><label for="serialNo">Area Name</label>
                            <input type="text" [(ngModel)]="areaFilter.areaName" class="form-control" id="name" placeholder="Enter Area Name">
                        </div>
                        <div class="col-md-4"><label for="customerName">Area Code</label>
                            <input type="text" [(ngModel)]="areaFilter.code" class="form-control" id="name" placeholder="Enter Area Code">
                        </div>
                        <div class="col-md-4" id="div">
                            <button mat-button (click)="getFilter(areaFilter)"><span style="text-align-last: left" >Apply</span></button>
                        </div>
                    </div>
                    <!-- <mat-action-row>
                        <button mat-button (click)="getFilter(cityFilter)">Apply</button>
                    </mat-action-row> -->
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div style="margin: auto; max-width: 1000px; margin-bottom: 50px;" *ngIf="isshowTableView">
            <data-table id="persons-grid" headerTitle="" [items]="areaDto" [itemCount]="itemCount" (reload)="reloadItems($event)" (rowClick)="rowClick($event)" (rowDoubleClick)="rowDoubleClick($event)" [rowTooltip]="rowTooltip" [indexColumn]="false">
                <!-- <data-table-column [property]="'areaId'" [header]="'Id'" [sortable]="true" [resizable]="true">
                </data-table-column> -->
                <data-table-column [property]="'areaName'" [header]="'Name'" [sortable]="true" [resizable]="true">
                </data-table-column>
                <data-table-column [property]=" 'code' " header="Code " [sortable]="true " [resizable]="true ">
                </data-table-column>
                <data-table-column [property]=" 'branchName' " header="Branch " [sortable]="true " [resizable]="true ">
                </data-table-column>
                <data-table-column [property]=" 'cityName' " header="City " [sortable]="true " [resizable]="true ">
                </data-table-column>
                <data-table-column [property]=" 'status' " header="Status " [sortable]="true " [resizable]="true ">
                </data-table-column>
            </data-table>
        </div>
        <div>
            <mat-card *ngIf="showAreaCard ">
                <mat-card-header>

                    <mat-card-title class="customLabel ">
                        <div style="right: 0;position: absolute;">
                            <i *ngIf="!isEditable" class="material-icons" style="margin-left : 60px; color: #003d79; cursor: pointer" (click)="EditClicked() ">
                                                edit
                                            </i>

                            <i class="material-icons " style="color: red;cursor: pointer " (click)="onClickCloseDetailsForm() ">
                                                close
                                            </i>
                        </div>
                        Area Information :
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row ">
                        <div class="col-4 ">

                            <div class="row ">
                                <div class="col-4 ">
                                    <label class="customLabel ">Name</label>

                                </div>
                                <div class="col-1 ">:</div>
                                <div class="col-6 " style="white-space: wrap; ">

                                    <div *ngIf="!isEditable">
                                        <span>{{areaDetails?.areaName}}</span>
                                    </div>
                                    <div *ngIf="isEditable">
                                        <input [(ngModel)]="selectedArea.areaName" type="text " class="form-control " id="cityname " placeholder=" ">
                                    </div>
                                    <!-- <span>{{areaDetails?.areaName}}</span> -->
                                    <!-- <span ng-if="!ticketDetails.adhaarDetails.postoffice ">--</span> -->
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col-4 ">
                                    <label class="customLabel ">Branch</label>
                                </div>
                                <div class="col-1 ">:</div>
                                <div class="col-6 " style="white-space: wrap; ">


                                    <div *ngIf="!isEditable">
                                        <span>{{areaDetails?.branchName}}</span>
                                    </div>
                                    <div *ngIf="isEditable">
                                        <input [(ngModel)]="selectedArea.branchName" type="text " class="form-control " id="cityname " placeholder=" ">
                                    </div>
                                    <!-- <span>{{areaDetails?.branchName}}</span> -->
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col-4 ">
                                    <label class="customLabel ">State</label>

                                </div>
                                <div class="col-1 ">:</div>
                                <div class="col-6 " style="white-space: wrap; ">
                                    <!-- <span>{{cityDetails?.cityState}}</span> -->

                                    <div *ngIf="!isEditable">
                                        <!-- <span>{{cityDetails?.cityState}}</span> -->
                                    </div>
                                    <div *ngIf="isEditable">
                                        <!-- <input [(ngModel)]="selectedCity.cityState " type="text " class="form-control " id="cityname " placeholder=" "> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <label class="customLabel ">Status</label>
                                </div>
                                <div class="col-1 ">:</div>
                                <div class="col-6 " style="white-space: wrap; ">
                                    <!-- <span>{{areaDetails?.status}}</span> -->

                                    <div *ngIf="!isEditable">
                                        <span>{{areaDetails?.status}}</span>
                                    </div>
                                    <div *ngIf="isEditable">
                                        <!-- [(value)]="selectedArea.areaStatus" -->
                                        <!-- <input [(ngModel)]="selectedArea.areaStatus" type="text " class="form-control " id="cityname " placeholder=" "> -->
                                        <ngx-select-dropdown [config]="config" [options]="areaStatus" [(value)]="selectedArea.status" [multiple]=" false " (click)="disableSearch() "></ngx-select-dropdown>
                                    </div>

                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-4 ">
                                    <label class="customLabel ">Code</label>

                                </div>
                                <div class="col-1 ">:</div>
                                <div class="col-6 " style="white-space: wrap; ">

                                    <div *ngIf="!isEditable ">
                                        <span>{{areaDetails?.code}}</span>
                                    </div>
                                    <div *ngIf="isEditable ">
                                        <input [(ngModel)]="selectedArea.code " type="text " class="form-control " id="cityname " placeholder=" ">
                                    </div>


                                    <!-- <span>{{areaDetails?.areaName}}</span> -->
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-4 ">
                                    <label class="customLabel ">City</label>

                                </div>
                                <div class="col-1 ">:</div>
                                <div class="col-6 " style="white-space: wrap; ">
                                    <!-- <span>{{branchDetails?.branchCity}}</span> -->

                                    <div *ngIf="!isEditable ">
                                        <span>{{areaDetails?.cityName}}</span>
                                    </div>
                                    <div *ngIf="isEditable ">
                                        <input [(ngModel)]="selectedArea.cityName " type="text " class="form-control " id="cityname " placeholder=" ">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <button type=" button " style="margin-left: 890px " (click)="updateClicked() " class="btn btn-sm btn-success "> Update </button>
                    </div>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<style>
    .form-control {
        background-image: none;
    }
</style>g