<div class="container-fluid" id="addcityform" style="border: 2px solid lightgray;box-shadow: -2px -3px 5px lightgray;border-radius: 7px; margin-left: 65px;">

    <div class=row id="cityheader" style="border: 0px;padding-top: 20px">
        <h5 style="font-size: 20px;margin-left: 20px ">Add New City</h5>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="City Name"><b> Name</b></label>
            <input [(ngModel)]="cityDto.cityName" type="text" class="form-control" id="cityname" placeholder="Enter City Name">
        </div>
        <div class="col-md-6"><label for="citycode"><b> Code</b></label>
            <input [(ngModel)]="cityDto.code" type="text" class="form-control" id="citycode" placeholder="Enter City Code">
        </div>
    </div>

    <div class=row style="padding-top: 11px">
        <div class="col-md-6"><label for="citydescription"><b>Description</b></label>
            <input [(ngModel)]="cityDto.description" type="text" class="form-control" id="citydescription" placeholder="Enter City Description">
        </div>
        <div class="col-md-6"><label style="font-weight: bold" for="cityStatus">Status</label>
            <ngx-select-dropdown [config]="config" [options]="cityStatus" [(value)]="cityDto.status" [multiple]="false" (click)="disableSearch()"></ngx-select-dropdown>
        </div>
    </div>
    <div class=row style="padding-top: 11px">
        <div class="col-md-6"><label style="font-weight: bold" for="citystate" Required> State </label>
            <ngx-select-dropdown [config]="config" (change)="selectionChanged($event)" [(value)]="selectedOptions" [options]="availableStates" (click)="onclick()" [multiple]="false" (click)="enableSearch()"></ngx-select-dropdown>

        </div>
    </div>

    <div class="row justify-content-end" style="padding-top: 11px">
        <div class="col-md-2">
            <button type=" button " class="btn btn-sm btn-success " style="margin-left: -10px;" (click)="onsubmitAddNewCity()">Submit</button>
        </div>

        <div class="col-md-1" style="margin-bottom: 8px;">
            <button type=" button " class="fa fa-plus-circle" class="btn btn-sm btn-danger" style="margin-left: -60px" (click)="closeAddCityForm()">Close</button>
        </div>
    </div>

</div>


<style>
    .form-control {
        background-image: none;
    }
</style>