.container-fluid {
    max-width: 800px;
    width: 100%;
    background-color: whitesmoke
}

#cityheader {
    background-color: #f44336;
    border-radius: 6px;
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 7px;
    margin-left: -15px;
}